:root {
  --color-primary: #960fe4;
  --color-secondary: aquamarine;
  --color-tertiary: #d3d3d3;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #2c2c2c;
    color: var(--color-secondary);
  }

/* Used on Label/Input/Button-combos to hide when not needed */
.hide {
  display: none;
}

/* HEADER */
header.jumbotron {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 10px solid black;
}
.display-3 {
  color: var(--color-primary);
  font-weight: 700;
}
/* HEADER - SECTION */
header section.current-date {
  margin-top: 50px;
  margin-bottom: 20px;
}
header section div#day-of-week {
  font-size: 30px;
}
header section div#current-date-display {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
header section div#current-time-display {
  font-size: 20px;
}
/* MAIN - SECTION 1 + 2 + 3 */
main section {
  margin-bottom: 30px;
}
/* MAIN - SECTION 1 + 2 */
main section button.btn {
  background-color: var(--color-primary);
  color: aliceblue;
  box-shadow: none;
  text-transform: uppercase;
}
input {
  background-color: var(--color-tertiary);
}
main section#edit-calendar-options, main section#initial-time-selection {
  text-align: center;
}
/* MAIN - SECTION 3 */
main section div.time-block{
  text-align: center;
  border-radius: 15px;
  /* next selector is same element */
} 
main section div.col-10 { 
  padding: 0px; 
}
section div#button-section {
  padding: 0px;
  margin: 0px;
}
/* MAIN - SECTION 3 - DYNAMICALLY GENERATED ELEMENTS */
main section div div div.hour {
  background-color: var(--color-tertiary);
  color: #000000;
  border-top: 1px dashed #000000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section div div textarea{
  background: transparent;
  border: 2px dashed #d3d3d3;
  color: var(--color-secondary);
  border-left: 1px solid black;
  padding: 10px;
  height: 80px;
}
.past {
  background-color: #686868;
  color: white;
}
.present {
  background-color: #ff6961;
  color: white;
}
.future {
  background-color: #77dd77;
  color: white;
}
div button.saveBtn {
  border: 2px solid black;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--color-primary);
  color: white;
  height: 100%;
  margin: 0px;
  width: 100%;
  min-width: fit-content;
}
.btn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  color: var(--color-secondary);
}
